body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}

.orange{
    color: blue;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 60%;
    padding-left: 5%;
}
.half img{
    width: 90%;
}
.link-button{
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: url("images/link-button.jpg");
    background-size: cover;

    
}
.top-banner{

    background-image: url("images/cover.png");
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/cover2.png);
}